.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 24px;
  border-bottom: 1px solid var(--secondary-background-color);
}

.dialog-header h2 {
  margin: 0;
  color: var(--primary-color);
}

.dialog-box {
  background-color: var(--background-color);
}

::ng-deep .mat-mdc-dialog-content {
  padding: 0 !important;
  margin: 0 !important;
  max-height: 70vh;
  overflow-y: auto;
}
