mat-dialog-content {
  min-width: 400px;
  padding: 20px 24px;
  color: var(--primary-color);
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-actions {
  padding: 16px 24px;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  color: var(--primary-color);
}
