/*
mat-drawer-container {
  height: 100%;
  color: var(--primary-color);
  background-color: var(--background-color);
}

mat-drawer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.menu-button {
  left: 5px;
}

.menu-button:hover {
  background-color: color-mix(in oklab, var(--secondary-color) 10%, #0000);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
*/
