div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 200px;
}

h1 {
  font-size: 6em;
}

p {
  color: var(--secondary-color);
}
