.password-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.password-button, .password-icon {
    border-radius: 100%;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

.password-button {
    padding-right: 5px;
    margin-left: -5px;
}

.password-icon {
    padding: 5px;
}

.password-icon:hover {
    background-color: rgba(220, 220, 220, 1);
    transition-duration: 500ms;
}