<!-- The field  box-->
<mat-form-field appearance="outline">
  <!-- The field label -->
  <mat-label>Enter your password</mat-label>
  
  <!-- The field -->
  <input matInput [formControl]="form" (blur)="updatePassword()" [type]="hide ? 'password' : 'text'" required>
  
  <!-- The button to show/hide the password -->
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>
