<div class="dialog-box">
  <div class="dialog-header">
    <h2 mat-dialog-title>
      {{ data.mode === 'create' ? 'Ajouter une réservation' : 'Détails de la réservation' }}
    </h2>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <app-reservation-detail
      [mode]="data.mode"
      [reservation]="data.reservation"
      (closeDialog)="onClose($event)">
    </app-reservation-detail>
  </mat-dialog-content>
</div>
