.map-wrapper {
  width: 100%;
  height: 100%;
  margin: 20px 0;
}

#map {
  width: 100%;
  height: 100%;
}

/* Fix pour les tuiles Leaflet */
/*
:host ::ng-deep .leaflet-container {
  height: 100%;
  width: 100%;
}

:host ::ng-deep .leaflet-container img.leaflet-tile {
  max-width: none !important;
  max-height: none !important;
}

:host ::ng-deep .leaflet-tile {
  width: 256px !important;
  height: 256px !important;
}
*/
