<mat-card class="court-card">
  <mat-card-content>
    <div class="court-info">
      <div class="main-info">
        <mat-icon class="icon">sports_tennis</mat-icon>
        <div class="details">
          <h3>{{ court.name }}</h3>
          @if(court.description) {
            <p class="description">
              {{ court.description }}
            </p>
          } @else {
            <p class="description">
              <em>Aucune description</em>
            </p>
          }
        </div>
      </div>
      <div class="meta-info">
        <div class="quantity">
          <mat-icon>grid_view</mat-icon>
          <span>{{ court.quantity }}</span>
        </div>
        <div class="coordinates">
          <mat-icon>place</mat-icon>
          <span>{{ court.coordinates.latitude.toString() }}, {{ court.coordinates.longitude.toString() }}</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
