/**
 * The basic CSS for the title.
 */
h1 {
  text-align: center;
}

/**
 * Basic CSS for the div.
 */
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/**
 * The basic CSS for the page
 */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**
 * The basic CSS for the error message.
 */
p {
  color: red;
}

/**
 * Basic CSS for the login page button.
 */
.login {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 20px;
}
