/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #48f;
  --secondary-color: #468;
  --background-color: white;
  --secondary-background-color: #ddd;
  --menu-bar-size: 120px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #8cf;
    --secondary-color: #8ac;
    --background-color: #222;
    --secondary-background-color: #444;
    --menu-bar-size: 120px;
  }

  /**
   * The Map has now a dark theme mode.
   */
  .leaflet-layer,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
}

/* By pass Angular Material CSS */

.mat-mdc-form-field .mdc-notched-outline__leading,
.mat-mdc-form-field .mdc-notched-outline__notch,
.mat-mdc-form-field .mdc-notched-outline__trailing {
  border-color: #222 !important;
}

.mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
  border-color: var(--primary-color) !important;
}

.mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__trailing {
  border-color: red !important;
}

.mat-mdc-form-field .mdc-floating-label--float-above {
  color: #222 !important;
}

.mat-mdc-form-field.mat-focused .mdc-floating-label {
  color: var(--primary-color) !important;
}

.mat-mdc-form-field.mat-form-field-invalid .mdc-floating-label {
  color: red !important;
}

.mat-mdc-form-field .mdc-floating-label {
  color: #222 !important;
}

.mat-mdc-form-field .mat-mdc-input-element {
  color: #222 !important;
}

.mat-mdc-form-field .mat-mdc-input-element::placeholder {
  color: #222 !important;
}

.mat-mdc-form-field .mat-mdc-input-element {
  caret-color: var(--primary-color) !important;
}

.mat-mdc-form-field.mat-form-field-invalid .mat-mdc-input-element {
  caret-color: red !important;
}

/* === PAGINATOR === */

/* Main container */
.mat-mdc-paginator {
  background-color: var(--background-color) !important;
  color: var(--primary-color) !important;
}

/* Page size selector */
.mat-mdc-paginator-page-size {
  color: var(--primary-color) !important;
}

/* Change paginator arrow color */
.mat-mdc-paginator .mat-mdc-icon-button svg {
  fill: var(--primary-color) !important;
}

/* Page size select arrow */
.mat-mdc-paginator .mat-mdc-select-arrow svg {
  fill: black !important;
}

.mat-mdc-icon-button:disabled {
  opacity: 0.4 !important;
}

/* Select dropdown */
.mat-mdc-select-value {
  color: black !important;
}

/* Hover effects */
.mat-mdc-icon-button:hover {
  background-color: color-mix(
    in oklab,
    var(--secondary-color) 10%,
    #0000
  ) !important;
}

@media (prefers-color-scheme: dark) {
  .mat-mdc-form-field .mdc-notched-outline__leading,
  .mat-mdc-form-field .mdc-notched-outline__notch,
  .mat-mdc-form-field .mdc-notched-outline__trailing {
    border-color: white !important;
  }

  .mat-mdc-form-field .mdc-floating-label--float-above {
    color: white !important;
  }

  .mat-mdc-form-field .mdc-floating-label {
    color: white !important;
  }

  .mat-mdc-form-field .mat-mdc-input-element {
    color: white !important;
  }

  .mat-mdc-form-field .mat-mdc-input-element::placeholder {
    color: white !important;
  }

  /* Select dropdown PAGINATOR */
  .mat-mdc-select-value {
    color: white !important;
  }

  /* Page size select arrow */
  .mat-mdc-paginator .mat-mdc-select-arrow svg {
    fill: white !important;
  }
}

.leaflet-container img.leaflet-tile {
  max-width: none !important;
}
