mat-toolbar {
  position: relative;
  background-color: var(--background-color);
  color: var(--primary-color);
  box-shadow: 0 0 0 var(--secondary-background-color),
              0px 5px 5px var(--secondary-background-color);
  z-index: 2;
}

mat-drawer-container {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.menu-button {
  display: none;
}

mat-toolbar a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover, button:hover {
  background-color: color-mix(in oklab, var(--secondary-color) 10%, #0000);
}

app-navigation {
  width: 50%;
}

.endbutton {
  position: absolute;
  right: 15px;
}

@media (max-width:800px) {
  .menu-button {
    display: block;
  }

  .desktopnav {
    display: none;
  }

  mat-drawer {
    position: absolute;
    height: 100vh;
    z-index: 10000;
  }
}
