/**
 * Basic CSS to the hyperlink.
 */
nav a {
  color: var(--primary-color);
}

/**
 * Basic CSS when hover the hyperlink.
 */
a:hover,
button:hover {
  background-color: color-mix(in oklab, var(--secondary-color) 10%, #0000);
}

/**
 * Basic CSS in the navigation bar.
 */
nav {
  margin-left: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/**
 * Basic CSS to the hyperlink.
 */
nav a {
  margin-right: 25px;
  margin-left: 25px;
}

/**
 * Basic CSS of the navigation bar in mobile mode.
 */
@media (max-width: 120vh) {
  nav {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 25px;
  }
}
