<!-- The navigation bar -->
<nav>
  <!-- Button direction the courts -->
  <a mat-button routerLink="/terrains">
    <mat-icon>list</mat-icon> Terrains
  </a>

  <!-- Button direction the reservation -->
  <a mat-button routerLink="/reservations">
    <mat-icon>event</mat-icon> Réservations
  </a>

  <!-- Button direction the user. -->
  <a mat-button routerLink="/users">
    <mat-icon>supervisor_account</mat-icon> Liste des utilisateurs
  </a>

  <a mat-button routerLink="/map">
    <mat-icon>map</mat-icon> Carte des terrains
  </a>
</nav>
