/**
 * Basic CSS for the field box.
 */
mat-form-field {
  width: 15vw;
}

/**
 * Basic CSS for the field box in mobile mode.
 */
@media (max-width: 120vh) {
  mat-form-field {
    width: 75vw;
  }
}
