<!-- The field  box-->
<mat-form-field appearance="outline">
  <!-- The field label -->
  <mat-label>Entrée votre mot de passe</mat-label>

  <!-- The field -->
  <input matInput (keydown.enter)="skipButton($event)" [formControl]="form" (blur)="updatePassword()" [type]="hide ? 'password' : 'text'" required>

  <!-- The button to show/hide the password -->
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>

  <!-- If the email is invalid, show an error message -->
  @if (form.invalid) {
    <mat-error>{{errorMessage()}}</mat-error>
  }
</mat-form-field>
